Package: com.shade.zypen
Name: Zypen
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
