<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Per App</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
					<key>display-identifier-macro</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
					<key>action</key>
					<string>showPreferences</string>
					<key>entry</key>
					<dict>
						<key>cell</key>
						<string>PSSwitchCell</string>
						<key>default</key>
						<true/>
						<key>isController</key>
						<string>1</string>
						<key>overridePrincipalClass</key>
						<string>1</string>
						<key>PostNotification</key>
						<string>com.shade.zypen/ReloadPrefs</string>
						<key>key</key>
						<string>backgrounder-@@DISPLAYIDENTIFIER@@-enabled</string>
						<key>defaults</key>
						<string>com.shade.zypen</string>
					</dict>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.shade.zypen.plist</string>
		</dict>
		</array>
		<key>title</key>
		<string>Icon Indicator</string>
	</dict>
</plist>
