<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>reachabilityEnabled</string>
				<key>label</key>
				<string>Enabled</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>showNCInstead</string>
				<key>label</key>
				<string>Show NC Instead of App</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>disableAutoDismiss</string>
				<key>label</key>
				<string>Disable Auto-dismiss</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>enableRotation</string>
				<key>label</key>
				<string>Enable Rotation</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>homeButtonClosesReachability</string>
				<key>label</key>
				<string>Home Button Closes Reachability</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>unifyStatusBar</string>
				<key>label</key>
				<string>Unify Status Bar</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>rotationMode</string>
				<key>label</key>
				<string>Use Scaling Rotation Mode</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.zypen</string>
				<key>PostNotification</key>
				<string>com.shade.zypen/ReloadPrefs</string>
				<key>key</key>
				<string>showAppSelector</string>
				<key>label</key>
				<string>Display Widget Selector</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>Options</string>
				<key>detail</key>
				<string>ZYPAppChooserOptionsListController</string>
			</dict>
		</array>
		<key>title</key>
		<string>Zypen</string>
	</dict>
</plist>
