Package: com.shade.zypen
Name: Zypen
Depends: mobilesubstrate, preferenceloader, applist, com.rpetrich.rocketbootstrap
Architecture: iphoneos-arm
Description: ReachApp for iOS 9...But Now its 1/2 of Multiplexer
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.4-77+debug
Installed-Size: 3024
