Package: com.shade.zypen
Name: Zypen
Depends: mobilesubstrate, preferenceloader, applist, com.rpetrich.rocketbootstrap
Architecture: iphoneos-arm
Description: 1/2 of Multiplexer
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.7-49+debug
Installed-Size: 3424
