Package: com.shade.zypen
Name: Zypen
Depends: mobilesubstrate, preferenceloader, applist, com.rpetrich.rocketbootstrap
Version: 0.6.2
Architecture: iphoneos-arm
Description: 1/2 of Multiplexer
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
