Package: com.shade.zypen
Name: Zypen
Depends: mobilesubstrate, preferenceloader, applist, com.rpetrich.rocketbootstrap
Version: 0.3
Architecture: iphoneos-arm
Description: ReachApp for iOS 9.
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
